**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

overide.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

# kind cluster config
*-config
